body {
 margin: 0;
 font-family: $font-stack;
}

html {
  background: $background;
  box-sizing: border-box;
  color: $text-color;
}

*, *::before, *::after {
  box-sizing: inherit;
}

main {
  background: white;
  margin: auto;
  padding: 1.1*$nav-height 1*$space 1*$space 1*$space;
  max-width:550px;

  @include tablet {
    padding: 1.5*$nav-height 2*$space 2*$space 2*$space
  }

}
