body {
 margin: 0;
 font-family: $font-stack;
}

html {
  background: $background;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

main {
  background: white;
  margin: auto;
  padding: 1.5*$nav-height 2*$space 2*$space 2*$space;

  @include tablet {
    max-width: 700px;
  }

}
