.newtweet {
  background: mix($lightgrey, $primary-color, 85%);
  border: 1px solid gray;
  border-radius: 0.5em;
  display: none;
  padding: $space;

  &-counter {
    float: right;
  }

  &-header {
    border-bottom: 1px solid #224;
  }

  &-flash {
    display: none;
    color: $danger;
  }

  &-textarea {
    padding: $space;
    width: 100%;
  }
}
