/*Variables*/
$font-stack: 'Roboto Condensed', sans-serif;
$primary-color: #244751;
$accent-color: #bada55;
$offwhite: #eee;

/*Selectors*/
body {
 margin: 0;
}

html {
  box-sizing: border-box;;
}

*, *::before, *::after {
  box-sizing: inherit;
}

main {
  background: $offwhite;
  margin: auto;
  padding: 140px 2em 2em 2em;
  width: 450px;
}
