@import url("/vendor/normalize-4.1.1.css");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/*Variables*/

$accent-color: #bada55;
$danger: red;
$font-stack: 'Roboto Condensed', sans-serif;
$lightgrey: #ddd;
$nav-height: 80px;
$primary-color: #00a087;
$dark-color: #244751;
$trans-time: 0.3s;

body {
 margin: 0;
 font-family: $font-stack;
}

html {
  box-sizing: border-box;;
}

*, *::before, *::after {
  box-sizing: inherit;
}

main {
  background: white;
  margin: auto;
  padding: $nav-height*1.5 2em 2em 2em;
  width: 450px;
}

.danger {
  color: $danger;
}

.navbar {
  align-items: center;
  background: $primary-color;
  display: flex;
  height: $nav-height;
  justify-content: space-between;
  left: 0;
  padding: 0 1.5em;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;

  &-compose {
    background-color:#44c789;
  	border-radius:0.5em;
  	border:1px solid #18ab40;
    color: white;
  	cursor:pointer;
    line-height: 24px;
    padding: 1em 1.5em;

    &:hover {
      background-color:#5cbf6a;
    }
  }

  &-header {
    color:white;
    font-size: 2em;
    line-height: $nav-height;
    padding: 0 0 0 10px;
  }

  &-left {
    align-items: center;
    display:flex;
  }

  &-logo {
    height:$nav-height;
    width:$nav-height;
  }
}


.newtweet {
  background: $lightgrey;
  border: 1px solid gray;
  border-radius: 0.5em;
  display: none;
  padding: 0 1em 1em 1em;

  &-counter {
    float: right;
  }

  &-header {
    border-bottom: 1px solid #224;
  }

  &-flash {
    display: none;
    color: $danger;
  }

  &-textarea {
    padding: 0.5em;
    width: 100%;
  }
}

.tweet {
  border: 1px solid #aaa;
  border-radius: 0.5em;
  margin-top: 1em;
  &, & .tweet-header, & .tweet-icons {
    transition: all $trans-time;
  }
  &:hover {
    border-color: #333;
    & .tweet-header, & .tweet-icons {
      opacity: 1;
    }
  }

  &-age {
    float:left;
    margin:0;
  }

  &-avatar {
    float: left;
    height: 50px;
    width: 50px;
  }

  &-content {
    padding: 1em 1.5em;
    font-size: 1.1em;
  }

  &-footer {
    border-top: 1px solid $lightgrey;
    line-height: 2.5em;
    padding: 0 1em;
  }

  &-handle {
    color: #aaa;
    float: right;
    line-height: 1.9em;
    margin: 0;
  }

  &-header {
    background: $lightgrey;
    border-radius: 0.5em 0.5em 0 0;
    opacity: 0.65;
    padding: 1em;
  }

  &-header::after, &-footer::after {
    content:"";
    display:table;
    clear:both;
  }

  &-icons {
    float:right;
    color: $accent-color;
    opacity: 0;

    .fa {
      padding: 0 0 0 0.5em;
    }
  }

  &-poster {
    float:left;
    margin: 0;
    padding: 0 0 0 0.5em;
  }
}
