.navbar {
  background: #00a087;
  color: #e8fdff;
  height: 80px;
  left: 0;
  padding: 0 2em;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

.navbar-compose {
	background-color:#44c789;
	border-radius:0.5em;
	border:1px solid #18ab40;
  color: #e8fdff;
	cursor:pointer;
	float:right;
  line-height: 24px;
  margin: 12px 0;
  padding: 16px 30px;
}

.navbar-compose:hover {
  background-color:#5cbf6a;
}

.navbar-header {
  font-size: 2em;
  line-height: 80px;
  padding: 0 0 0 10px;
}

.navbar-logo {
  height:80px;
  width:80px;
}

.navbar-header,
.navbar-logo {
  float:left;
}
