.navbar {
  align-items: center;
  background: #00a087;
  color: #e8fdff;
  display: flex;
  height: 80px;
  justify-content: space-between;
  left: 0;
  padding: 0 2em;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

.navbar-compose {
	background-color:#44c789;
	border-radius:0.5em;
	border:1px solid #18ab40;
  color: #e8fdff;
	cursor:pointer;
  line-height: 24px;
  padding: 1em 1.5em;
}

.navbar-compose:hover {
  background-color:#5cbf6a;
}

.navbar-header {
  font-size: 2em;
  line-height: 80px;
  padding: 0 0 0 10px;
}

.navbar-left {
  align-items: center;
  display:flex;
}

.navbar-logo {
  height:80px;
  width:80px;
}
