.navbar {
  background: #00a087;
  color: #e8fdff;
  height: 80px;
  left: 0;
  padding: 0 2em;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

.navbar-header {
  font-size: 2em;
  line-height: 80px;
  padding: 0 0 0 10px;
}

.navbar-logo {
  height:80px;
  width:80px;
}

.navbar-header,
.navbar-logo {
  float:left;
}
