.newtweet {
  background: #eee;
  border: 1px solid gray;
  border-radius: 1em;
  padding: 0 1em 1em 1em;
}

.newtweet-counter {
  float: right;
}

.newtweet-header {
  border-bottom: 1px solid #224;
}

.newtweet-textarea {
  padding: 0.5em;
  width: 100%;
}

.newtweet-counter.danger {
  color: red;
}
